<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="sf.dao.UserMapper">

    <resultMap id="userMap" type="sf.entity.User" >
        <result property="id" column="id"/>
        <result property="nickname" column="nickname"/>
        <result property="password" column="password"/>
        <result property="salt" column="salt"/>
        <result property="phone" column="phone"/>
        <result property="lastlogindate" column="lastlogindate"/>
    </resultMap>
    <sql id="BaseColumn" >
        id, nickname, phone, password, salt,  lastlogindate
    </sql>
    <select id="getById" resultType="sf.entity.User" resultMap="userMap">
        select <include refid="BaseColumn"/>
        from user
        where id=#{id}
    </select>
</mapper>